<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <%= image_tag("img_0014.gif", :alt=> "Norm Walker", class: "img-responsive bio") %>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 col-xl-10">
      <h1>Norm Walker</h1>
      <p class="text-justify">Managing Partner Norm Walker provides expertise in the Aerospace and 
      Defense markets with a long and successful background in the commercial 
      and US government business segments. Specialties and experience include: 
      Sales/Marketing, Business Development, Capture/Capture Management, 
      Proposal Development/Proposal Management, USG and Commercial Pricing, 
      Estimating and Contracts, Program Management, ITAR and Employee Training.</p>
      <p class="text-justify">Mr. Walker provides a truly ‘cradle to grave’ business accumen. Mr. Walker 
      has dedicated his career to the advancement of company goals and the training, 
      mentoring and advancement of employees.</p>
    </div>
  </div>
  
<hr />

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <%= image_tag("final1.gif", :alt=> "Tyler Walker", class: "img-responsive bio") %>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 col-xl-10">
      <h1>Tyler Walker, MS, CSCS, USAW</h1>
      <p class="text-justify">Managing Partner Tyler Walker works with health and technology customers to provide brilliant, turn-key
      solutions to their needs. With over 14 years in fitness and 13 years in web development 
      and graphic design, Tyler has the knowledge and experience to provide you with everything 
      you need and want to create the body or website you want.</p>
      <p class="text-justify">In his 14 years of fitness, Tyler has been a collegiate athlete, powerlifting world 
      record holder, bodybuilder, olympic weightlifter and a collegiate strength and conditioning 
      coach. In his time as a powerlifting, bodybuilding and strength and conditioning coach, 
      Tyler has worked with National Champions, world record holders, Olympic medalists and 
      NFL athletes. With a master's degree and multiple high level certifications, Tyler has the
      education to go along with the experience to get your body performing at its highest levels 
      or looking its absolute best.</p>
      <p class="text-justify">With 13 years of development experience, Tyler has watched as technology has changed 
      over the years. He has seen languages become more dynamic and responsive than ever. Tyler 
      codes in HTML, CSS, Ruby on Rails, JavaScript and a little bit of PHP. He also has 
      experience working in WordPress to create dynamic websites. With experience in multiple 
      sectors including marketing and aerospace, Tyler can provide you the perspective and website 
      to drive lead creation and conversion.</p>
    </div>
  </div>
  
  <br />
  
  </div>
</div>