<div class="container">
  <div class="row">
    <h1 class="text-center">Aviation</h1>
    
    <div class="row">
      <h3>Business Development</h3>
      <p class="text-justify">HAVIT provides assistance in creating/growing a business development plan. 
      Creating a strategic short and long term vision is a critical piece of any 
      successful business. The ability to plan and execute a business strategy is 
      the difference between success and failure.</p>
      
      <h4>Capture Planning</h4>
      <p class="text-justify">HAVIT provides assistance in the development of the capture plan which 
      requires very specific data and analysis for the completion of the proposal 
      and award. The capture process becomes a mix of business development and 
      proposal planning by gathering information related to historical data, past 
      performance, customer requirements, and strategy to win. The capture plan 
      truly drives the start to finish process by incorporating elements of 
      business development, proposal management and program execution.</p>
    
      <h4>Proposal Development and Management</h4>
      <p class="text-justify">Proposal Development and Management requires the incorporation of RFP 
      requirements to the production of the final proposal by orchestrating a 
      well-organized and systematic process/procedure designed to capture all 
      the required elements of the RFP. HAVIT uses elements of the Shipley proposal 
      development method and adapts them to the individual customer needs.   </p>
    </div>
    
    <hr />
      
    <div class="row">
      <h3>Program Management</h3>
      <p class="text-justify">Program Management is truly a blend of multiple elements requiring extensive 
      knowledge of pre-proposal elements. It requires the working expertise of the 
      proposal and program requirements and the ability to establish specific 
      program milestones and financial goals. HAVIT provides Program Management 
      techniques using Program Management Institute (PMI) elements, which lead to 
      successful program metrics.</p>
      <p class="text-justify">The HAVIT team has experience not only in implementing the PMI method of 
      program and project management, but they are also well versed in teaching it 
      as well. HAVIT is a veteran of the PMI principles and brings those years 
      of experience to the table at every encounter.</p>
    </div>
    
    <hr />
    
    <div class="row">
      <h3>Contract Negotiations and Development</h3>
      <p class="text-justify">Contract Negotiations and Development are a cornerstone of the financial 
      success of any program. Negotiating pre-determined profit levels requires 
      the ability to establish a strong level of trust with the customer, understand 
      the program goals and command a working knowledge of the proposal on the table. 
      HAVIT teaches contract negotiation skills and use of techniques focused on 
      the win-win scenarios. HAVIT uses its years of Military/Commercial contract 
      experience to assist in the review of RFI/RFP requirements and the application 
      of applicable FAR/DFAR clauses and can provide employee training the areas of 
      contract requirements review.</p>
    </div>
    
    <hr />
    
    <div class="row">
      <h3>US Government Pricing</h3>
      <p class="text-justify">US Government Pricing is an area of concern for many small companies. 
      The application of USG mandated pricing methodologies used in USG proposals 
      is unique at best. The understanding of these requirements such as use of 
      BOE (basis of estimate) price justifications are all elements covered by the 
      HAVIT group.</p>
    </div>
    
    <br />
    
    <div class="row">
      <div class="well">
        <h1 class="text-center">Interested in a Consultation?</h1>
        <button type="button" class="btn btn-default btn-lg btn-block">
          <%= link_to "Contact Us Now", new_contact_path %>
        </button>
      </div>
    </div>
  </div>
</div>