<div class="container">
  <div class="row">
    <h1 class="text-center">Coaching</h1>
    <blockquote><p>Strength and growth only occurs with continued effort and struggle.</p>
    <footer>Napoleon Hill</footer></blockquote>
    <h3>Training Programs</h3>
    <p class="text-justify">HAVIT coaching believes in a scientifically backed method of getting the 
    most out of the human body. We develop custom training programs that help you 
    to achieve what you want and create the body you wish to earn. No two programs 
    are the same and every client receives one-on-one coaching to ensure they are 
    receiving the best program for their goals. Our coach has a Master's degree 
    in Coaching as well as several years of professional experience working with 
    National Champions, Olympic Athletes (multiple sports), professional NFL players 
    and Division 1 athletes across all disciplines. We understand that no two athletes 
    are the same and we work with you to create the result that you want.</p>
    <h4>Programs Offered in:</h4>
    <ul>
      <li>Powerlifting</li>
      <li>Bodybuilding</li>
      <li>Athletic Performance</li>
      <li>Strongman</li>
    </ul>
  </div>
  
  <hr />
    
  <div class="row">
    <h3>Nutrition Programs</h3>
    <p class="text-justify">HAVIT Coaching espouses a flexible dieting methodology which leads to not 
    only to results on stage and on the platform, but also, to an improved relationship 
    with and understanding of the impact food on performance. We believe no food 
    is inherently "bad". Instead, we view food as a fuel and as a short term investment 
    in your long term performance. We simplify our nutrition programs to make the 
    transition to health as easy as possible. </p>
  </div>
  
  <hr />
  
  <div class="row">
    <h3>Contest Prep</h3>
    <p class="text-justify">Contest prep is a massive undertaking for even the most experienced professional. 
    HAVIT Coaching provides you with the objective eye and constant overwatch you need 
    to bring your best package to stage yet. We provide training and nutrition that 
    produces expansive growth and helps you to keep the most muscle possible as you 
    cut down to stage weight.</p>
    <p class="text-justify">With multiple preps under our belt and a vast level of experience to go along 
    with our education, we provide a superior level of personalization and expertise 
    to our clients. From outright amateurs to experienced veterans, we are prepared 
    to help you reach your best physique ever.</p>
  </div>
  
  <br />
  
  <div class="row">
    <div class="well">
      <h1 class="text-center">Interested in a Consultation?</h1>
      <button type="button" class="btn btn-default btn-lg btn-block">
        <%= link_to "Contact Us Now", new_contact_path %>
      </button>
    </div>
  </div>
</div>

