<div class="container-fluid">
  <div class="row home-callout">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <span class="align-middle"><img src="/images/final1.gif" alt="Tyler Walker" class="img-circle img-thumbnail img-right img-responsive" /></span>
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="home-callout text-center">
        <h1>HAVIT Consulting</h1>
        <h2>Results.</h2>
        <h2>Experience.</h2>
        <h2>Integrity.</h2>
      </div>
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4">
      <span class="align-middle"><img src="/images/img_0014.gif" alt="Norm Walker" class="img-circle img-thumbnail img-left img-responsive" /></span>
    </div>
  </div>
</div>

<div class="container services-callout">
  <div class="row">
    <div class="col-md-4">
      <ul class="text-center">
        <li><h3><i class="fa fa-heartbeat"></i> Health</h3></li>
        <li>Training Programs</li>
        <li>Nutrition Programs</li>
        <li>Contest Prep</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <ul class="text-center">
        <li><h3><i class="fa fa-plane"></i> Aviation</h3></li>
        <li>Proposal Development</li>
        <li>Proposal Management</li>
        <li>Program Management</li>
        <li>Contract Negotiations</li>
        <li>Contract Development</li>
        <li>US Government Pricing</li>
        <li>Business Development</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <ul class="text-center">
        <li><h3><i class="fa fa-cloud"></i> Technology</h3></li>
        <li>Web Development</li>
        <li>Graphic Design</li>
        <li>IT Support</li>
      </ul>
    </div>
  </div>
  
  <hr>
  
  <div class="container">
    <div class="row">
      <div class="well">
        <h1 class="text-center">Interested in a Consultation?</h1>
        <button type="button" class="btn btn-default btn-lg btn-block">
          <a href="#">Contact Us Now</a>
        </button>
      </div>
    </div>
  </div>
</div>