<div class="container-fluid">
  <div class="row home-callout">
    <div class="col-md-4">
      <img src="/images/final1.gif" alt="Tyler Walker" class="img-circle img-thumbnail img-right img-responsive" />
    </div>
    
    <div class="col-md-4">
      <div class="home-callout text-center">
        <h1>Results</h1>
        <br />
        <h1>Experience</h1>
        <br />
        <h1>Integrity</h1>
      </div>
    </div>
    
    <div class="col-md-4">
      <img src="/images/apple-icon.png" alt="Norm Walker" class="img-circle img-thumbnail img-left img-responsive" />
    </div>
  </div>
</div>

<div class="container services-callout">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><i class="fa fa-heartbeat"></i> Health</h3>
      <ul>
        <li class="li-margin">Training Programs</li>
        <li class="li-margin">Nutrition Programs</li>
        <li class="li-margin">Contest Prep</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center"><i class="fa fa-plane"></i> Aviation</h3>
      <ul>
        <li class="li-margin">Proposal Development</li>
        <li class="li-margin">Proposal Management</li>
        <li class="li-margin">Program Management</li>
        <li class="li-margin">Contract Negotiations</li>
        <li class="li-margin">Contract Development</li>
        <li class="li-margin">US Government Pricing</li>
        <li class="li-margin">Business Development</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center"><i class="fa fa-cloud"></i> Technology</h3>
      <ul>
        <li class="li-margin">Web Development</li>
        <li class="li-margin">Graphic Design</li>
        <li class="li-margin">IT Support</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>