<div class="container-fluid">
  <div class="row home-callout">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <span class="align-middle"><img src="/images/final1.gif" alt="Tyler Walker" class="img-circle img-thumbnail img-right img-responsive" /></span>
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="home-callout text-center">
        <h1>Results</h1>
        <br />
        <h1>Experience</h1>
        <br />
        <h1>Integrity</h1>
      </div>
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4">
      <span class="align-middle"><img src="/images/apple-icon.png" alt="Norm Walker" class="img-circle img-thumbnail img-left img-responsive" /></span>
    </div>
  </div>
</div>

<div class="container services-callout">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><i class="fa fa-heartbeat"></i> Health</h3>
      <ul class="text-center">
        <li>Training Programs</li>
        <li>Nutrition Programs</li>
        <li>Contest Prep</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center"><i class="fa fa-plane"></i> Aviation</h3>
      <ul class="text-center">
        <li>Proposal Development</li>
        <li>Proposal Management</li>
        <li>Program Management</li>
        <li>Contract Negotiations</li>
        <li>Contract Development</li>
        <li>US Government Pricing</li>
        <li>Business Development</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center"><i class="fa fa-cloud"></i> Technology</h3>
      <ul class="text-center">
        <li>Web Development</li>
        <li>Graphic Design</li>
        <li>IT Support</li>
      </ul>
    </div>
  </div>
</div>