<div class="container">
  <div class="row">
    <h1 class="text-center">Technology</h1>
    <h3>Web Development</h3>
    <p class="text-justify">With over 12 years of web development experience, HAVIT Consulting provides
    full-stack web development services to meet the customer's needs. Our developer
    has experience developing in Ruby on Rails, HTML, CSS, Javascript and on the 
    Wordpress platform. We have developed websites for companies in multiple business 
    sectors. We deliver the perfect website or application to meet your business needs. 
    We place a heavy emphasis on communication before and after the development phase 
    in order to ensure the successful creation and development of your vision.</p>
    <p class="text-justify">Our development methodology is one of define, develop 
    and then refine. We emphasize defining clear goals and workflows to ensure a 
    smooth and efficient development phase. When we have transitioned to the development 
    phase, we seek to follow best practices while also providing the most effective 
    website to satisfy our customers. After development and final deploy, we enter the refine 
    phase wherein we work with our customers to ensure maximum SEO and efficiency.</p>
    <p class="text-justify">Examples from our portfolio can be viewed below.</p>
  </div>
  
  <div class="row">
    <ul>
      <li><%= link_to "1218 Global", "http://www.1218global.com", :target => "_blank" %></li>
      <li><%= link_to "Bulldog Rescue Squad", "http://www.bulldogrescuesquad.com", :target => "_blank" %></li>
      <li><%= link_to "Convectus Solutions", "http://www.convectus.com", :target => "_blank" %></li>
    </ul>
  </div>
    
    <hr />
    
  <div class="row">
    <h3>Graphic Design</h3>
    <p class="text-justify">Our developer also happens to be our graphic designer. Currently, he is 
    working in the IT consulting sector to create logos and designs for various 
    companies and organizations. Much like our web design development process, 
    he works to define, design and refine the projects he creates for our customers.</p>
  </div>
  
  <hr />
  
  <div class="row">
    <div class="well">
      <h1 class="text-center">Interested in a Consultation?</h1>
      <button type="button" class="btn btn-default btn-lg btn-block">
        <%= link_to "Contact Us Now", new_contact_path %>
      </button>
    </div>
  </div>
</div>
